[Desktop Entry]
Version=1.0
Name=GreymHatter Homepage
GenericName=Web Browser
Comment=Open Firefox to a specific site
Exec=firefox http://localhost:3000
Terminal=false
Icon=firefox
Type=Application
Categories=Network;WebBrowser;
Keywords=browser;internet;web;www;

